In [1]:
from odapi.connectors import Irceline

In [2]:
c = Irceline()

2020-06-26 11:27:53,620	odapi             	generic     	load        	DEBUG 	Load Settings C:\Users\jlanderc\Anaconda3\lib\site-packages\odapi-0.1.0-py3.7.egg\odapi\connectors\opendata\resources\irceline.json

In [10]:
s = c.select(measurekey='T$', sitekey='41R001')

2020-06-26 11:30:31,305	odapi             	api         	select      	DEBUG 	Selection Keys: {'measurekey': 'T$', 'sitekey': '41R001'}
2020-06-26 11:30:31,318	odapi             	api         	select      	DEBUG 	Selected 1 row(s): {'99917'}

In [11]:
c.get_records(s)

2020-06-26 11:30:31,672	odapi             	timeseries  	prepare_parameters	DEBUG 	PARAM: {'identifiers': {'99917'}, 'stop': Timestamp('2020-06-26 09:30:00+0000', tz='UTC'), 'start': Timestamp('2020-06-12 09:30:00+0000', tz='UTC'), 'timerange': DatetimeIndex(['2020-06-12 09:30:00+00:00', '2020-06-12 00:00:00+00:00',
               '2020-06-13 00:00:00+00:00', '2020-06-14 00:00:00+00:00',
               '2020-06-15 00:00:00+00:00', '2020-06-16 00:00:00+00:00',
               '2020-06-17 00:00:00+00:00', '2020-06-18 00:00:00+00:00',
               '2020-06-19 00:00:00+00:00', '2020-06-20 00:00:00+00:00',
               '2020-06-21 00:00:00+00:00', '2020-06-22 00:00:00+00:00',
               '2020-06-23 00:00:00+00:00', '2020-06-24 00:00:00+00:00',
               '2020-06-25 00:00:00+00:00', '2020-06-26 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)}
2020-06-26 11:30:31,675	odapi             	timeseries  	prepare_parameters	DEBUG 	PARAM: {'identifiers': {'99917'}, 'stop': Timestamp('2020-06-26 09:30:00+0000', tz='UTC'), 'start': Timestamp('2020-06-12 10:30:00+0000', tz='UTC'), 'timerange': DatetimeIndex(['2020-06-12 10:30:00+00:00', '2020-06-26 09:30:00+00:00'], dtype='datetime64[ns, UTC]', freq=None)}
2020-06-26 11:30:31,758	odapi             	irceline    	fetch       	DEBUG 	GET [200]: http://geo.irceline.be/sos/api/v1/timeseries/99917/getData/?timespan=2020-06-12T10:30Z/2020-06-26T09:30Z&force_latest_values=true
2020-06-26 11:30:31,770	odapi             	irceline    	get_records 	DEBUG 	FRAME: 335 record(s) fetched

    serieid                     start                      stop  value
0     99917 2020-06-12 10:00:00+00:00 2020-06-12 11:00:00+00:00  21.70
1     99917 2020-06-12 11:00:00+00:00 2020-06-12 12:00:00+00:00  22.40
2     99917 2020-06-12 12:00:00+00:00 2020-06-12 13:00:00+00:00  22.20
3     99917 2020-06-12 13:00:00+00:00 2020-06-12 14:00:00+00:00  22.80
4     99917 2020-06-12 14:00:00+00:00 2020-06-12 15:00:00+00:00  21.80
..      ...                       ...                       ...    ...
330   99917 2020-06-26 04:00:00+00:00 2020-06-26 05:00:00+00:00  21.25
331   99917 2020-06-26 05:00:00+00:00 2020-06-26 06:00:00+00:00  22.25
332   99917 2020-06-26 06:00:00+00:00 2020-06-26 07:00:00+00:00  23.55
333   99917 2020-06-26 07:00:00+00:00 2020-06-26 08:00:00+00:00  25.20
334   99917 2020-06-26 08:00:00+00:00 2020-06-26 09:00:00+00:00  26.70

[335 rows x 4 columns]