In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([123456, 456789, 135797, 123, 123456789], columns=['number'])

In [3]:
df

      number
0     123456
1     456789
2     135797
3        123
4  123456789

In [4]:
def digit(x, n):
    """Return the n-th digit of integer in base 10"""
    return x // 10**n % 10

In [5]:
def digitize(df, key, n):
    """Extract n less significant digits from an integer in base 10"""
    for i in range(n):
        df['x%d' % i] = digit(df[key], n-i-1)

In [6]:
digitize(df, 'number', 6)

In [7]:
print(df)

      number  x0  x1  x2  x3  x4  x5
0     123456   1   2   3   4   5   6
1     456789   4   5   6   7   8   9
2     135797   1   3   5   7   9   7
3        123   0   0   0   1   2   3
4  123456789   4   5   6   7   8   9

In [21]:
type(10**3)          # 1000

int

In [14]:
10**4

10000

In [12]:
type(54321 // 10**4)

int

In [18]:
54321 // 10**3

54

In [19]:
54321 // 10**3 % 10

4