In [3]:
import numpy as np
import pandas as pd

In [2]:
np.dtype('<U21')

dtype('<U21')

In [10]:
np.dtype('float')

dtype('float64')

In [5]:
df = pd.DataFrame(['1', '2', '3'])

In [7]:
df.dtypes

0    object
dtype: object

In [8]:
df = df.astype(np.float64)

In [9]:
df.dtypes

0    float64
dtype: object

In [2]:
import io

In [21]:
fh = io.StringIO("""1   2   3   4   5   6   7   8   9   10  11  12  13  14  15  16  17  18  19  20  21  22  23  24
100 10  61  55  29  77  61  42  70  73  98  62  25  86  49  68  68  26  35  62  100 56  10  97
57  89  25  89  48  56  67  17  98  10  25  90  17  52  85  56  18  20  74  97  82  63  45  87
192 371 47  173 202 144 17  147 174 483 170 422 285 13  77  116 500 136 276 392 220 121 441 268""")

In [22]:
import pandas as pd
import scipy.stats
import numpy as np

df = pd.read_fwf(fh).astype(np.float)
df

,1,2,3,4,5,6,7,8,9,10,...,15,16,17,18,19,20,21,22,23,24
0,100.0,10.0,61.0,55.0,29.0,77.0,61.0,42.0,70.0,73.0,...,49.0,68.0,68.0,26.0,35.0,62.0,100.0,56.0,10.0,97.0
1,57.0,89.0,25.0,89.0,48.0,56.0,67.0,17.0,98.0,10.0,...,85.0,56.0,18.0,20.0,74.0,97.0,82.0,63.0,45.0,87.0
2,192.0,371.0,47.0,173.0,202.0,144.0,17.0,147.0,174.0,483.0,...,77.0,116.0,500.0,136.0,276.0,392.0,220.0,121.0,441.0,268.0

In [12]:
df.dtypes

1     int64
2     int64
3     int64
4     int64
5     int64
6     int64
7     int64
8     int64
9     int64
10    int64
11    int64
12    int64
13    int64
14    int64
15    int64
16    int64
17    int64
18    int64
19    int64
20    int64
21    int64
22    int64
23    int64
24    int64
dtype: object

In [19]:
scipy.stats.linregress(df.iloc[0,:].values, df.iloc[1,:].values)

LinregressResult(slope=0.12419744768547877, intercept=49.60998434527584, rvalue=0.11461693561751324, pvalue=0.5938303095361301, stderr=0.22949908667668056)

In [38]:
result = pd.DataFrame(columns=["slope", "intercept", "rvalue"])

for i, row in df.iterrows():
    fit = scipy.stats.linregress(df.iloc[0,:], row)
    result.loc[i] = (fit.slope, fit.intercept, fit.rvalue)

In [40]:
print(result)

      slope   intercept    rvalue
0  1.000000    0.000000  1.000000
1  0.124197   49.609984  0.114617
2 -1.095801  289.293224 -0.205150