In [1]:
import itertools
import pandas as pd

In [2]:
data = {'fruits': ['banana', 'apple', 'pear'], 
    'source' : (['brazil', 'algeria', 'nigera'], ['brazil', 'morocco', 'iran', 'france'], ['china', 'india', 'mexico']),
    'prices' : [2, 3, 7]}
df = pd.DataFrame(data, columns = ['fruits', 'source', 'prices'])

In [3]:
df

   fruits                           source  prices
0  banana        [brazil, algeria, nigera]       2
1   apple  [brazil, morocco, iran, france]       3
2    pear           [china, india, mexico]       7

In [4]:
data

{'fruits': ['banana', 'apple', 'pear'],
 'source': (['brazil', 'algeria', 'nigera'],
  ['brazil', 'morocco', 'iran', 'france'],
  ['china', 'india', 'mexico']),
 'prices': [2, 3, 7]}

In [18]:
for z in zip(*[data[k] for k in data]):
    print(z)

('banana', ['brazil', 'algeria', 'nigera'], 2)
('apple', ['brazil', 'morocco', 'iran', 'france'], 3)
('pear', ['china', 'india', 'mexico'], 7)